//products style

ion-title{
    
    color: #222222;
    font-size: 26px;
}

.card{
    text-align: center;
    border-style: solid;
    color:  #222222;  
}

.button1{
    --color: #222222;
}

.button2{
    --background: #222222;
}

.button3{
    --background: #222222;
}