<!--Update Form-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title align="center">
      Editar Producto
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="editProduct()" [disabled]="!formProductEdit.valid">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formProductEdit">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Código:</ion-label>
            <ion-input type="number" formControlName="pcodigo"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="pnombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Cantidad:</ion-label>
            <ion-input type="number" formControlName="pcantidad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Peso:</ion-label>
            <ion-input type="number" formControlName="ppeso"> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Descripción:</ion-label>
            <ion-textarea formControlName="pdescripcion"> </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!formProductEdit.get('pdescripcion').valid &&
      formProductEdit.touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>La descripción debe de ser mayor a 20 caracteres</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>