<!--Product Detail-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.nombre}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deleteProduct()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding align="center">
  <br>
  <div padding>Código: {{product.codigo}} </div>
  <br>
  <div padding>Descripción:
    <br>
    {{product.descripcion}}
  </div>
  <br>
  <div padding>Precio: {{product.precio}} colones </div>
  <br>
  <div padding>Cantidad: {{product.candidad}} </div>
  <br>
  <div padding>Peso: {{product.peso}} gramos </div>
</ion-content>